<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BVISION.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDC1DC6D20808F9800534A0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDC1DC8420808F9A00534A0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDC1DC8F20808F9A00534A0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
